.main{
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: black;
}
.main2{
    position: absolute;
    margin-top: -50px;
      height: 850px;
     width: 100%;
}
.heading{
    text-align: center;
    text-decoration: none;
}
.heading h1{
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardd{
    width: 700px;
    
    margin: auto;
}